body {
    background-color: #5a5e61;
    color: #000000;
}

.header, .sidebar, .main-container {
    background-color:  #363636;
    color: #f3f1f1;
}

.cards {
    background-color: #495057;
    border-color: #6c757d;
}

