body {
    background-color:  #343a40;
    color: #000000;
}

.header, .sidebar, .main-container {
    background-color:  #a7a7a7;
    color: #ffffff;
}

.cards {
    background-color: #ffffff;
    border-color: #dddddd;
}

